
<div class="group-grid-container">

    <div class="sidebar group-show-side">
      <ul>
        <%= link_to  events_path(group: @group) do %>
          <li>
              <i class="fa fa-glass-cheers fa-2x"></i>
                <span class="nav-text">
                  All Events
                </span> 
          </li>
        <% end%>

      <%= link_to users_path(group: @group.id) do %>
        <li>
            <i class="fa fa-users fa-2x"></i>
              <span class="nav-text">
               <b> Invite buddies </b>
              </span>  
        </li>
        <% end %>

      </ul>
      </div>



  <div class = "group-show-data">
    <div class="group-title" >
        <h1 ><%= @group.name.truncate(15) %></h1>
    </div>

    <div class="group-show-data-inline">
      <div class="icon">
        <h3><%=icon('fas', 'male')%></h3>
      </div>
      <div class="text">
        <p><%= @group.owner.username %></p>
      </div>
    </div>


    <div class="group-show-data-inline">
      <div class="icon">
        <h3><%=icon('fas', 'map-marker')%></h3>
      </div>
      <div class="text">
        <p><%= @group.event.place.address.truncate(28) %></p>
      </div>
    </div>
   

    <div class="group-show-data-inline">
      <div class="icon">
        <h3><%=icon('fas', 'glass-cheers')%></h3>
      </div>
      <div class="text">
        <p><%= @group.event.name%></p>
      </div>
    </div>

    <div class="group-show-data-inline">
      <div class="icon">
        <h3><%=icon('fas', 'calendar')%></h3>
      </div>
      <div class="text">
        <p><%= @group.event.start_time.strftime("%B %d, %Y").truncate(27)%></p>
      </div>
    </div>
  </div>

  <div class = "group-chat">

  <div class="chatroom">
      <% @chatroom.messages.each do |message| %>
        <%= render 'messages/message', message: message %>
      <% end %>
  </div>
    <div class = "chatroom-input">
      <%= simple_form_for [ @group, @chatroom, @message ], remote: true do |f| %>
        <%= f.input :content, label: false %>
      <% end %>

    </div>
  </div>

  <div class="group-event-picture">
    <%= cl_image_tag @group.event.photo.key, height: 370, crop: :fill %>
  </div>

  <div class="group-people-coming">
      <%# all_invitees = []
      <% @group.invites.each do |invite| %>
        <%# all_invitees << invite.invitee
      <% end %> 
      <% @all_invitees.uniq.each do |invitee| %>
        <div class="group-people-card">
          <%= cl_image_tag invitee.photo.key, height: 200, width: 200, crop: :fill, gravity: :face %>
          <div class="group-people-card-det" >
            <h3> <%= invitee.username %> </h3>
            <p> <%= invitee.role %> </p>
          </div> 
        </div>
       <% end %>
    </div>
</div>
