
<div class="main-grid-container">

  <div class="child-grid child-grid-1 child-grid-tall">
    <h3> one </h3>
  </div>

  <div class="child-grid child-grid-2 child-grid-tall{">
    <h3> two </h3>
  </div>

  <div class="child-grid child-grid-1 child-grid-short">
      <h3> three </h3>
  </div>

  <div class="child-grid child-grid-2 child-grid-short{">
   <h3> four </h3>
  </div>

</div>
















<div class="group-show">
  <div class="group-card">
    <h3> group dataaaaaaaaaaaaaaaaaa </h3>
  </div>

  <div class="chat-area">
    <h3> CHAT </h3>
  </div>
</div>

<div class="group-show">
  <div class="group-card">
    <h3> event picture </h3>
  </div>

  <div class="chat-area">
    <h3> pictures </h3>
  </div>
</div>



<div class="centered-container">
  <div class="wrapper">
    <div class="user-card">
      <img src="https://via.placeholder.com/250" alt="">
    </div>
    <div>
      <h1>Group name: <%= @group.name %></h1>
      <p>created by: <%= @group.owner.username %></p>
      <p>place: <%= @group.event.place.name %></p>
      <p>address: <%= @group.event.place.address %></p>
      <p>event: <%= @group.event.name %></p>
          <h2>Group members</h2>
      <%  @group.invites.each do |invite| %>
        <%= link_to user_path(invite.invitee) do %>
          <div>
            <h5><%= invite.invitee.username %></h5> 
          </div>
        <% end %>
      <% end %>
    </div>
    <div>
     <%= link_to "Add a user", users_path(group: @group.id), class:"btn btn-primary" %>
    </div>
  </div>
</div>

<div class="container">
  <h1>#<%= @chatroom.name %></h1>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <div class="message-container" id="message-<%= message.id %>">
        <i class="author">
          <span><%= message.user.username %></span>
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </i>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
<%= simple_form_for [ @group, @chatroom, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
<% end %>
</div>