
<div class="group-grid-container">

  <div class = "group-show-data">
    <h1>Group name: <%= @group.name %></h1>
    <p>created by: <%= @group.owner.username %></p>
    <p>place: <%= @group.event.place.name %></p>
    <p>address: <%= @group.event.place.address %></p>
    <p>event: <%= @group.event.name %></p>
    <img src="https://via.placeholder.com/370">
  </div>

  <div class = "group-chat">
  <div class="chatroom">
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <%= render 'messages/message', message: message %>
      <% end %>
    </div>
</div>
    <div class = "chatroom-input">
      <%= simple_form_for [ @group, @chatroom, @message ], remote: true do |f| %>
        <%= f.input :content, label: false %>
      <% end %>
    </div>

  </div>



  <div class="group-event-picture">
    <%= cl_image_tag @group.event.photo.key, height: 370, width: 370, crop: :fill %>
  </div>

  <div class="group-people-coming">
    <h3> group-people-coming </h3>
    <div>
     <%= link_to "Add a user", users_path(group: @group.id), class:"btn btn-primary" %>
    </div>
  </div>
</div>
