<nav class="main-menu">
  <ul>
    <li>
      <a href="#">
      <i class="fa fa-user fa-2x"></i>
      <span class="nav-text">
        Add a User
      </span>
      </a>  
    </li>
  </ul>
</nav>
<%# <div class="buddies-available">
  <h3>BUDDIES AVAILABLE</h3>
</div> %>
<% @users.each do |user| %>
              <div class="modal fade" id="myModal_<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="popupLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content popup">
                    <div class="modal-header">
                      <h3 class="modal-title" id="popupLabel"><%= user.username %></h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h4><%= user.email  %></h3>
                      <p> <%= user.role %> </p>
                    </div>
                    <div class="modal-footer">
                      <%= link_to "See User",  user_path(user, event: @event, group: @group), class: "modal-button" %>
                    </div>
                  </div>
                </div>
              </div>
<% end %>

<div class="users-index-main">
      <div class="users-grid">
        <% @users.each do |user| %>
            <div class="card-user" data-toggle="modal" data-target="#myModal_<%= user.id %>" data-tilt data-tilt-max="5" data-tilt-axis="y">
              <%= link_to user_path(user, event: @event, group: @group) do %>
                <img src="https://via.placeholder.com/370">
              <% end %>
              <div class="card-user-infos">
                
                  <h2> <%= link_to user.username, user_path(user, event: @event, group: @group) %></h2>
                  <p> <%= user.email %></p>
                  <% if user.role %>
                    <p>role: <%= user.role %> </p>
                  <% else %>
                    <p>role not specified</p>
                  <% end %>
                
              </div>
            </div>
          <% end %>
      </div>

      <div id="map"
        class="users-map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div> 
</div>



