


<div class="users-index-main">

<div class="sidebar user-index-side">
  <ul>
    <li>
      <a href="#">
      <i class="fa fa-user fa-2x"></i>
      <span class="nav-text">
        Add a User
      </span>
      </a>  
    </li>
  </ul>
</div>
      <div class="users-grid">
        <% @users.each do |user| %>
            <div class="card-user" data-toggle="modal" data-target="#myModal_<%= user.id %>" data-tilt data-tilt-max="5" data-tilt-axis="y">
              <%= link_to user_path(user, event: @event, group: @group) do %>
                <%= cl_image_tag user.photo.key, height: 370, width: 370, crop: :fill %>
                <%# <img src="https://via.placeholder.com/370"> %>
              <% end %>
              <div class="card-user-infos">
                
                  <h2> <%= link_to user.username, user_path(user, event: @event, group: @group) %></h2>
                  <p> <%= user.email %></p>
                  <% if user.role %>
                    <p>role: <%= user.role %> </p>
                  <% else %>
                    <p>role not specified</p>
                  <% end %>
                
              </div>
            </div>
          <% end %>
      </div>

      <div id="map"
        class="users-map"
        <%# style="height: 500px; width: 576px;" %>
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div> 

</div>



