<nav class="main-menu">
  <ul>
    <li>
      <a href="#">
      <i class="fa fa-users fa-2x"></i>
      <span class="nav-text">
        All Buddies
      </span>
      </a>  
    </li>
    <li>
      <a href="#">
      <i class="fa fa-hands-helping fa-2x"></i>
      <span class="nav-text">
        Invite to dance
      </span>
      </a>  
    </li>
  </ul>
</nav>
<div class="cont">
  <img src="https://via.placeholder.com/250" alt="">
  <div id="map"
          data-marker="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
</div>
<div class="cont">
  <h1>Username: <%= @user.username %></h1>
  <p>email: <%= @user.email %></p>
</div>
<div class="cont">
  <% if @user.role %>
    <p>role: <%= @user.role %> </p>
  <% else %>
    <p>role not specified</p>
  <% end %>
</div>
<div class="cont">
  <h1>upcoming Events</h1>
  <% @user.invites.each do |invite| %>
    <%= link_to event_path(invite.group.event.id) do %>
      <p><%= invite.group.event.name %></p>
    <% end %>
  <% end %>
</div>
<div class="cont">
  <%= link_to "home", root_path, class:"btn btn-primary" %>
  <% if params.include?(:event_id) %>
    <%= link_to "back to buddies", event_users_path, class:"btn btn-primary"  %>
  <% else %>
    <%= link_to "all buddies", users_path, class:"btn btn-primary" %>
  <% end %>
  <% if params[:event] %>
    <%= link_to "Invite to this event", new_invite_path(user: @user.id, event: @event), class:"btn btn-danger" %>
  <% else %>
    <%= link_to "invite to dance", events_path(user: @user.id), class:"btn btn-danger" %>
  <% end%>
  <% if params[:group] %>
    <%= link_to "Add user to a group", new_invite_path(user: @user.id, group: @group), class:"btn btn-danger" %>
  <% end%>
</div>
