
 



  <div class="user-show-main">

    <div class="sidebar user-show-side">
     <ul>
        <% if params.include?(:event) %>
          <%= link_to users_path do %>
            <li>
                <i class="fa fa-users fa-2x"></i>
                  <span class="nav-text">
                    Back to buddies
                  </span>
            </li>
          <% end %>
        <% else %>
          <%= link_to users_path(event: @event) do %>
            <li>
                <i class="fa fa-users fa-2x"></i>
                  <span class="nav-text">
                    All buddies
                  </span>  
            </li>
            <% end %>
          <% end %>
        <% if params[:event] %>
          <%= link_to  new_invite_path(user: @user.id, event: @event) do %>
            <li>
                <i class="fa fa-glass-cheers fa-2x"></i>
                  <span class="nav-text">
                    Invite to this event
                  </span> 
            </li>
          <% end%>
        <% else %>
          <%= link_to  events_path(user: @user.id) do %>
            <li>
                <i class="fa fa-hands-helping fa-2x"></i>
                  <span class="nav-text">
                    Invite to dance
                  </span> 
            </li>
          <% end%>
        <% end%>
        <% if params[:group] %> 
          <%= link_to  new_invite_path(user: @user.id, group: @group) do %>
            <li>
                <i class="fa fa-user-plus fa-2x"></i>
                  <span class="nav-text">
                    Add user to the group
                  </span>
            </li>
          <% end%>
        <% end%>
  </ul>
    </div>
    <div class="user-show-profile">
      <% if @user.photo.attached?%>
        <%= cl_image_tag @user.photo.key, height: 370, width: 370, crop: :fill, gravity: :face%>
      <% else %>
        <%= image_tag('profile-pic.jfif') %>
      <% end %>
    </div>

    <div class="user-show-events">
      <h2>Upcoming Events</h2>
      <% @user.invites.each do |invite| %>
      <div class="user-show-event-card" data-tilt data-tilt-max="5" data-tilt-axis="y">
        <%= link_to event_path(invite.group.event.id) do %>
          <div>
          <p><strong><%= invite.group.event.name %></strong></p>
          </div>
        <% end %>
        <div>
        <p>><%= invite.group.event.start_time %></p>
        </div> 
      </div>
        
      <% end %>
    </div>

    <div id="map" 
      class="user-show-map"
      <%# style="height: 270px; width: 100%;" %>
      data-markers="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <div class="user-show-data">
      <h2>Username: <%= @user.username %></h2>
      <p>Address: <%= @user.address %></p>
      <p>email: <%= @user.email %></p>
      <% if @user.role %>
        <p>role: <%= @user.role %> </p>
      <% else %>
        <p>role not specified</p>
      <% end %>
        <h3>Level:<%= @user.level %></h3>
    </div>

    <div class="user-show-comments">
      <h2>Comments</h2>
      <div class="display-reviews">
        <% @reviews.each do |review| %>
          <% if review.receiver == @user %>
            <div class="user-show-review-card" data-tilt data-tilt-max="5" data-tilt-axis="y">
            <div class="user-show-review-card-format">
              <%= link_to user_path(review.user.id) do %>
                <p><strong><%= review.user.username%></strong></p>
              <% end %>
                <p>
                <% review.rating.times do %>
                  💃
                <% end %>
                </p>
              </div>
              <div class="user-show-review-card-format">
                <p><%= review.content %></p>
               </div>
               <div class="user-show-review-card-format">
                  <% if review.user == current_user %>
                    <%= link_to  user_review_path(review), method: :delete, data: { confirm: "Are you sure?" } do %>
                      <p class="text-alert"><i class="fas fa-trash"></i> Delete</p>
                    <% end %>
                  <% end %>
              </div>
            </div>
          <% end %>
        <% end %>   
      </div>
      <div class="new-review">
        <%#= render "review", receiver: @user, review: @review %>
      </div>
    </div>

    <div class="user-show-achievements">
      <h2>Achievements</h2>
      <% if @user.level >= 1  %>
        <div class="trophy1" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
          <i class="fa fa-american-sign-language-interpreting fa-2x"></i>
        </div>
      <% else %>
        <div class="trophy1" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
          <i class="fa fa-users fa-2x"></i>
        </div>
      <% end %>

      <% if @user.level >= 2  %>
        <div class="trophy2" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
          <i class="fa fa-heartbeat fa-2x"></i>
        </div>
      <% else %>
        <div class="trophy2" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
          <i class="fa fa-users fa-2x"></i>
        </div>
      <% end %>

      <% if @user.level >= 5  %>
        <div class="trophy3" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
          <i class="fa fa-sign-language fa-2x"></i>
        </div>
      <% else %>
        <div class="trophy3" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
          <i class="fa fa-users fa-2x"></i>
        </div>
      <% end %>

      <% if @user.level >= 8  %>
        <div class="trophy4" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
          <i class="fa fa-fighter-jet fa-2x"></i>
        </div>
      <% else %>
        <div class="trophy4" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
          <i class="fa fa-users fa-2x"></i>
        </div>
      <% end %>

      <% if @user.level >= 10  %>
        <div class="trophy5" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
          <i class="fa fa-biohazard fa-2x"></i>
        </div>
      <% else %>
        <div class="trophy5" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
          <i class="fa fa-users fa-2x"></i>
        </div>
      <% end %>

      <% if @user.level >= 15  %>
      <div class="trophy6" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
       <i class="fab fa-battle-net fa-2x"></i>
      </div>
      <% else %>
      <div class="trophy6" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
       <i class="fa fa-users fa-2x"></i>
      </div>
      <% end %>

      <% if @user.level >= 20  %>
      <div class="trophy7" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
       <i class="fab fa-accusoft fa-2x"></i>
      </div>
      <% else %>
      <div class="trophy7" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
       <i class="fa fa-users fa-2x"></i>
      </div>
      <% end %>

      <div class="trophy8" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
       <i class="fa fa-users fa-2x"></i>
      </div>
      <div class="trophy9" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
       <i class="fa fa-users fa-2x"></i>
      </div>
      <div class="trophy10" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
       <i class="fa fa-users fa-2x"></i>
      </div>
      <div class="trophy11" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
       <i class="fa fa-users fa-2x"></i>
      </div>
      <div class="trophy12" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
       <i class="fa fa-users fa-2x"></i>
      </div>
      <div class="trophy13" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
       <i class="fa fa-users fa-2x"></i>
      </div>
      <div class="trophy14" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
       <i class="fa fa-users fa-2x"></i>
      </div>
      <div class="trophy15" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
       <i class="fa fa-users fa-2x"></i>
      </div>
      <div class="trophy16" data-tilt data-tilt-max="5"  data-tilt-scale="1.1" data-tilt-glare>
       <i class="fa fa-users fa-2x"></i>
  </div>
    </div>
  </div>
