<nav class="main-menu">
  <ul>
        <% if params.include?(:event) %>
          <%= link_to users_path do %>
            <li>
                <i class="fa fa-users fa-2x"></i>
                  <span class="nav-text">
                    Back to buddies
                  </span>
            </li>
          <% end %>
        <% else %>
          <%= link_to users_path(event: @event) do %>
            <li>
                <i class="fa fa-users fa-2x"></i>
                  <span class="nav-text">
                    All buddies
                  </span>  
            </li>
            <% end %>
          <% end %>
        <% if params[:event] %>
          <%= link_to  new_invite_path(user: @user.id, event: @event) do %>
            <li>
                <i class="fa fa-hands-helping fa-2x"></i>
                  <span class="nav-text">
                    Invite to this event
                  </span> 
            </li>
          <% end%>
        <% else %>
          <%= link_to  events_path(user: @user.id) do %>
            <li>
                <i class="fa fa-hands-helping fa-2x"></i>
                  <span class="nav-text">
                    Invite to dance
                  </span> 
            </li>
          <% end%>
        <% end%>
        <% if params[:group] %>
          <%= link_to  new_invite_path(user: @user.id, group: @group) do %>
            <li>
                <i class="fa fa-hands-helping fa-2x"></i>
                  <span class="nav-text">
                    Add user to a group
                  </span>
            </li>
          <% end%>
        <% end%>
  </ul>
</nav>


  <div class="user-show-main">

    <div class="user-show-profile">
      <img src="https://via.placeholder.com/250" alt="">
    </div>

    <div class="user-show-events">
      <h2>Upcoming Events</h2>
      <% @user.invites.each do |invite| %>
        <%= link_to event_path(invite.group.event.id) do %>
          <p><%= invite.group.event.name %></p>
        <% end %>
      <% end %>
    </div>

    <div id="map" 
      class="user-show-map"
      data-marker="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <div class="user-show-data">
      <h2>Username: <%= @user.username %></h2>
      <p>email: <%= @user.email %></p>
      <% if @user.role %>
        <p>role: <%= @user.role %> </p>
      <% else %>
        <p>role not specified</p>
      <% end %>
    </div>

    <div class="user-show-comments">
      <h2>Comments</h2>
    </div>

    <div class="user-show-achievements">
      <h2>Achievements</h2>
    </div>

  </div>


