<h1>Events#index</h1>
<%= link_to "back home!", root_path %>
<%= link_to 'Add an event', new_event_path,  class:"btn btn-primary"  %>
<br>
<% @events.each do |event| %>
  <h3> name: <%= link_to event.name, event_path(event) %> </h3>
  <p>event_type: <%= event.event_type %></p>
  <p>place: <%= event.place %></p>
  <p>starting at: <%= event.start_time.strftime("%B %d, %Y %A") %></p>
  <p>-----------</p>
<% end %>
