<br>
<div class="container d-flex", style="	justify-content: center; align-items: center">
  <h3>EVENTS AVAILABLE</h3>
</div>

<div class="container d-flex", style="	justify-content: center; align-items: center">
    <%= link_to "back home!", root_path, class:"btn btn-primary", style:"margin-right:30px" %>
    <%= link_to 'Add an event', new_event_path,  class:"btn btn-primary"  %>
</div>


<div class="main-container">
  <div class="grid-container">
    <% @events.each do |event| %>
      <div class = "event-card" data-tilt>
        <img src="https://via.placeholder.com/250">

         <h3> <strong> <%= link_to event.name, event_path(event, user: @invitee ) %> </strong></h3>
     
        <p>Event Type: <%= event.event_type %></p>
        <p>Place: <strong> <%= event.place.name.truncate(27, separator: ' ') %> </strong> </p>
        starting at: <strong> <%= event.start_time.strftime("%B %d, %Y %A") %> </strong>
      </div>
    <% end %>
  </div>
 </div>
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<%= link_to "back home!", root_path %>

<% console %>