<div class="event-show-main">
  

  <div class="sidebar event-show-side">
  <ul>
          <% if params.include?(:user)  %>
          <%= link_to  events_path(user: @user) do %>
            <li>
                <i class="fa fa-glass-cheers fa-2x"></i>
                  <span class="nav-text">
                    All Events
                  </span> 
            </li>
          <% end%>
        <% else %>
          <%= link_to  events_path do %>
            <li>
                <i class="fa fa-hands-helping fa-2x"></i>
                  <span class="nav-text">
                    All Events
                  </span> 
            </li>
          <% end%>
        <% end%>
        <% if params[:user] %>
         <%= link_to new_invite_path(event: @event.id, user: @user) do %>
            <li>
                <i class="fa fa-user-plus fa-2x"></i>
                  <span class="nav-text">
                   <b> Invite <%= User.find(@user).username %> </b>
                  </span>
            </li>
          <% end %>
        <% else %>
          <%= link_to users_path(event: @event.id) do %>
            <li>
                <i class="fa fa-users fa-2x"></i>
                  <span class="nav-text">
                    Invite a Friend
                  </span>  
            </li>
            <% end %>
          <% end %>        
          <%= link_to  invites_join_path(event: @event.id), method: :post do %>
            <li>
                <i class="fa fa-user-plus fa-2x"></i>
                  <span class="nav-text">
                    Join Event
                  </span>
            </li>
          <% end%>
                    <%= link_to groups_path(event: @event.id) do %>
            <li>
                <i class="fa fa-users fa-2x"></i>
                  <span class="nav-text">
                   All groups for this event
                  </span>
            </li>
          <% end%>
  </ul>
  </div>
<%# if params[:user] %>
        <%#= link_to "Create invitation", new_invite_path(event: @event.id, user: @user), class:"btn btn-danger" %>
      <%# else %>
         <%#= link_to "invite a friend", users_path(event: @event.id), class:"btn btn-primary" %>
      <%# end%>
      <%#= link_to "Join Event", invites_join_path(event: @event.id), method: :post, class:"btn btn-danger" %>
      <%#= link_to "home", root_path, class:"btn btn-primary" %>
      <%# if params.include?(:user)  %>
        <%#= link_to "all events", events_path(user: @user), class:"btn btn-primary" %>
      <%# else %>
        <%#= link_to "all events", events_path, class:"btn btn-primary" %>
      <%# end %>
      <%#= link_to "all groups for this event", groups_path(event: @event.id), class:"btn btn-primary"  %>

   <div class="event-show-data">
        <h1><%= @event.name %> </h1>
        <p><strong>Event type: </strong> <%= @event.event_type %></p>
        <p><strong>Place: </strong> <%= @event.place.address %></p>
        <p><strong>Starting at: </strong> <%= @event.start_time.strftime("%B %d, %Y %A") %></p>
   <div class="user-avatar">
            <img src="../../assets/dance.jpg" alt="" class="avatar">
          </div>
          <div>
            <p>Created by: <%= @event.host.username %></p>
          </div>
    </div>

    <div class="event-show-pic">
    <% if @event.photo.attached? %>
      <%= cl_image_tag @event.photo.key, height: 270, width: 270, crop: :fill %>
    <% else %>
      <img src="../../assets/def.jpg" alt="" height= "270" width= "270">
    <% end %>
    </div>

    <div class="event-show-groups">
     <h2>Groups</h2>
      <% @event.groups.each do |group| %>
      <div class="event-show-group-card" data-tilt data-tilt-max="5" data-tilt-axis="y">
          <%= link_to group_path(group) do %>
          <div>
            <p><strong><%= group.name %></strong></p>
          </div>
          
          <div>
            <p>><%= group.event.start_time %></p>
        </div> 
        <% end %>
      </div>
      <% end %>
    </div>
     
    <div class="event-show-participants">
      <h2>Participants</h2>
       <%  @event.groups.each do |group| %>
        <% group.invites.each do |invite| %>
          <%= link_to user_path(invite.invitee) do %>
          <div class="event-show-participant-card" data-tilt data-tilt-max="5" data-tilt-axis="y">
              <%= cl_image_tag invite.invitee.photo.key, height: 50, width: 50, crop: :fill %>
             <div class="event-show-participant-card-infos">
              <p> <%= invite.invitee.email %></p>
                  <% if invite.invitee.role %>
                    <p>role: <%= invite.invitee.role %> </p>
                  <% else %>
                    <p>role not specified</p>
                  <% end %> 
                  </div>
              </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
<%# test %>
  <div id="map" class="event-show-map"
          data-marker="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>

</div>

