<div class="event-show-main">
  

  <div class="sidebar event-show-side">
  <ul>
          <% if params.include?(:user)  %>
          <%= link_to  events_path(user: @user) do %>
            <li>
                <i class="fa fa-glass-cheers fa-2x"></i>
                  <span class="nav-text">
                    Back to Events
                  </span> 
            </li>
          <% end%>
        <% else %>
          <%= link_to  events_path do %>
            <li>
                <i class="fa fa-hands-helping fa-2x"></i>
                  <span class="nav-text">
                    Back to events
                  </span> 
            </li>
          <% end%>
        <% end%>
        <% if params[:user] %>
         <%= link_to new_invite_path(event: @event.id, user: @user) do %>
            <li>
                <i class="fa fa-user-plus fa-2x"></i>
                  <span class="nav-text">
                   <b> Invite <%= User.find(@user).username %> </b>
                  </span>
            </li>
          <% end %>
        <% else %>
          <%= link_to users_path(event: @event.id) do %>
            <li>
                <i class="fa fa-users fa-2x"></i>
                  <span class="nav-text">
                    Invite people
                  </span>  
            </li>
            <% end %>
          <% end %>        
          <%= link_to  invites_join_path(event: @event.id), method: :post do %>
            <li>
                <i class="fa fa-user-plus fa-2x"></i>
                  <span class="nav-text">
                    Join this event
                  </span>
            </li>
          <% end%>
                    <%= link_to groups_path(event: @event.id) do %>
            <li>
                <i class="fa fa-users fa-2x"></i>
                  <span class="nav-text">
                   Event's groups 
                  </span>
            </li>
          <% end%>
  </ul>
  </div>
  
   <div class="event-show-data">
      <div class="card-event-infos-show">
        <div class="event-title-show">
          <h3><%= @event.name%></h3>
        </div>
    
        <div class="icons-infos-show">

          <div class="event-index-data-inline-show">
            <div class="event-icon-show">
              <h3><%=icon('fas', 'glass-cheers')%></h3>
            </div>
            <div class="event-text-show">
              <p><%= @event.event_type%></p>
            </div>
          </div>

          <div class="event-index-data-inline-show">
            <div class="event-icon-show">
              <h3><%=icon('fas', 'map-marker')%></h3>
            </div>
            <div class="event-text-show">
              <p><%= @event.place.name.truncate(27, separator: ' ')%></p>
            </div>
          </div>

          <div class="event-index-data-inline-show">
            <div class="event-icon-show">
              <h3><%=icon('fas', 'calendar')%></h3>
            </div>
            <div class="event-text-show">
              <p><%= @event.start_time.strftime("%B %d, %Y")%></p>
            </div>
          </div> 

          
          <div class="event-index-data-inline-show">
            <div class="event-icon-show">
              <h3><%=icon('fas', 'user-alt')%></h3>
            </div>
            <div class="event-text-show">
              <p><%= @event.host.username %> </p>
            </div>
          </div> 

        </div>

      </div>
    </div>

    <div class="event-show-pic">
    <% if @event.photo.attached? %>
      <%= cl_image_tag @event.photo.key, height: 300, crop: :fill %>
    <% else %>
      <img src="../../assets/def.jpg" alt="" height= "270" width= "270">
    <% end %>
    </div>

    <div class="event-show-groups">
     <h2>Groups</h2>
      <% @event.groups.each do |group| %>
      <div class="event-show-group-card" data-tilt data-tilt-max="5" data-tilt-axis="y">
          <%= link_to group_path(group) do %>
          <div>
            <p><strong><%= group.name %></strong></p>
          </div>
          
          <div>
            <p>><%= group.event.start_time %></p>
        </div> 
        <% end %>
      </div>
      <% end %>
    </div>
     
    <div class="event-show-participants">
      <h2>Participants</h2>
       <%  @event.groups.each do |group| %>
        <% group.invites.each do |invite| %>
          <%= link_to user_path(invite.invitee) do %>
          <div class="event-show-participant-card" data-tilt data-tilt-max="5" data-tilt-axis="y">
              <%= cl_image_tag invite.invitee.photo.key, height: 50, width: 50, crop: :fill %>
             <div class="event-show-participant-card-infos">
              <p> <%= invite.invitee.email %></p>
                  <% if invite.invitee.role %>
                    <p>role: <%= invite.invitee.role %> </p>
                  <% else %>
                    <p>role not specified</p>
                  <% end %> 
                  </div>
              </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
<%# test %>
  <div id="map" class="event-show-map"
          data-marker="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>

</div>

