<h1>Events#show</h1>
<br>
<h3> name: <%= @event.name %> </h3>
<p>event_type: <%= @event.event_type %></p>
<p>place: <%= @event.place %></p>
<p>starting at: <%= @event.start_time.strftime("%B %d, %Y %A") %></p>
<p>-----------</p>

<%= link_to "home", root_path, class:"btn btn-primary" %>
<%= link_to "all events", events_path, class:"btn btn-primary" %>
<%= link_to 'Add an event', new_event_path,  class:"btn btn-primary"  %>