
<div class="show-container">
  <div class="event-image">
    <img src="https://via.placeholder.com/750" alt="" class="dance-img">

    
  </div>
  <div class="event-wrapper">
    <br>
      <div class="event-info">
        <h1><%= @event.name %> </h1>
        <p><strong>Event type: </strong> <%= @event.event_type %></p>
        <p><strong>Place: </strong> <%= @event.place.address %></p>
        <p><strong>Starting at: </strong> <%= @event.start_time.strftime("%B %d, %Y %A") %></p>
        <div class="align-items-center d-flex">
          <div class="user-avatar">
            <img src="../../assets/dance.jpg" alt="" class="avatar">
          </div>
        <%# <p>@event.dancer.username </p> %>
        </div>
    </div>
      <% if params[:user] %>
        <%= link_to "Create invitation", new_invite_path(event: @event.id, user: @user.id), class:"btn btn-danger" %>
        <% else %>
         <%= link_to "invite a friend", users_path(event: @event.id), class:"btn btn-primary" %>
      <% end%>
    <div>
      <br>
      <h1>Participants</h1>
       <%  @event.groups.each do |group| %>
        <% group.invites.each do |invite| %>
       <%= link_to user_path(invite.invitee) do %>
          <div class="d-flex my-3 align-items-center">
            <div class="user-avatar">
              <img src="../../assets/dance.jpg" alt="" class="avatar">
            </div>
            <h5><%= invite.invitee.username %></h5> 
          </div>
          <% end %>
          <% end %>
          <% end %>
    </div>
    <div class="btn-container">
      <%= link_to "home", root_path, class:"btn btn-primary" %>
      <% if params.include?(:user_id)  %>
        <%= link_to "all events", user_events_path, class:"btn btn-primary" %>
      <% else %>
        <%= link_to "all events", events_path, class:"btn btn-primary" %>
      <% end %>
      
      
      <%= link_to "all invitations for this event", groups_path(@user, @event), class:"btn btn-primary"  %>
    </div>
      
  </div>
</div>

<%= console %>