<div class="home-card">
  <div  class="home-title">
    <h1 id="dancing_buddies">Let's dance?</h1>
  </div>

    <div class="home_search_bar">
      <%= form_tag search_index_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Your location..."
        %>
         <%#= select_tag "radius", options_for_select(['1', '2', "5","10","all"], ''), class:"search-buttons"%>
          <%# <%= check_box("Buddies", @user, {checked: false}) %>  
          <%#= label_tag "Events" %> 
          <%#= check_box("events", @event, {checked: false}) %>
          <%#= label_tag "Users" %>
    <div class="home_buttons">

      <div class="main_BUDDY">
        <%= submit_tag "Find people", value: "Find people" %>
      </div>

      <div class="main_EVENT">
        <%= submit_tag "Find events", value: "Find events" %>
      </div>

    </div>
        <% end %> 

    </div>
  

  </div>



