<div class="home-container">
  <div class="home-card">
    <div>
      <h1 id="dancing_buddies">Let's</h1>
      <h1 id="dancing_buddies">dance?</h1>
    </div>
    <div class="home_search_bar">
    
      <%= form_tag search_index_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search here..."
          %>
          <%= select_tag "options", options_for_select(['Buddies', 'Events'], ''), class:"select-options"%>
          <%= label_tag "Buddies" %>
          <%# <%= check_box("Buddies", @user, {checked: false}) %>
          <%# <%= label_tag "Events" %> 
          <%#= check_box("events", @event, {checked: false}) %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>

    </div>
    <div class="home_buttons">
      <div class="main_BUDDY">
        <%= link_to "find a buddy!", users_path %>
      </div>
      <div class="main_EVENT">
        <%= link_to "find events!", events_path %>
      </div>
    </div>
  </div>
</div>


