<!DOCTYPE html>
<html>
  <head>
    <title>OneTwoThree - Find people, find places, dance! </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:image" content="app/assets/images/og.jpg">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= favicon_link_tag %>
  </head>

  <body>
    <%= render 'shared/background' %>
    <div class= "main-container">
      <div class= "main-window">
        <%= render 'shared/navbar' %> 
        <%= render 'shared/flashes' %>
        <div class= "content">
         <%= yield %>
        </div> 
        <%= render 'shared/footer' %> 
     </div>
    </div>
    <div class='end'>
    </div>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </body>

</html>
